
.page-thumbnail {
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -25px;
}

.page-wrapper {

    h3 {
        font-family: "LatoItalic", arial, verdana, sans-serif;
    }

    p, a, li {
        font-family: "LatoRegular", arial, verdana, sans-serif;
        font-size: 0.9rem;
    }

    a {
        color: $blue;
        text-decoration: underline;

        &:hover {
            color: $green;
            text-decoration: none;
        }
    }

    ul {
        padding: 0;
        list-style-type: none;
        li {
            margin-bottom: 1rem;
            &:before {

                content: "•";
                margin-right: 10px;
                font-weight: bold;
                color: $green;
            }
        }
    }

    #left-column {
        .so-panel {
            margin-bottom: 1rem;

            p {
                line-height: 1rem;
                a {
                    color: black;
                    font-size: 0.8rem;
                    text-decoration: none;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }

    .main-href {
        line-height: 1.3rem;
        font-size: 1.3rem;
    }

}
