$green: #afbd31;

$h1-font: 58px/62px "LatoBoldItalic", arial, verdana, sans-serif;
$h2-font: 36px/40px "LatoBoldItalic", arial, verdana, sans-serif;
$h3-font: 24px/28px "LatoBoldItalic", arial, verdana, sans-serif;
$p-font: 16px/22px "LatoRegular", arial, verdana, sans-serif;


@import "fonts";
@import "mixins";
@import "header";


